<nav class="sidebar">
    <div class="logo d-flex justify-content-between">
    <a href="index.html"><img src="assets/images/GSlogo.jpg" alt=""></a>
    <div class="sidebar_close_icon d-lg-none">
    <i class="ti-close"></i>
    </div>
    </div>
    <ul id="sidebar_menu">
    <li class="side_menu_title">
    <span>AL RAHMA MANAGEMENT</span>
    </li>
    <li class="mm-active">
    <a class="has-arrow" href="#" aria-expanded="false">
    
    <img src="assets/images/menu-icon/1.svg" alt="" routerLink="">
    <span routerLink="/dashbord">Dashboard</span>
    </a>
    <ul>
    
    <li><a class="active"routerLink="/doctors">Doctors</a></li>
    <li><a class="active" routerLink="/chambre">Rooms</a></li>
    <li><a class="active" routerLink="/nurses">Nurses</a></li>
    <li><a class="active" routerLink="/patient">Patients</a></li>
    <li><a class="active" routerLink="/pharmacien">Pharmacusts</a></li>
    <li><a class="active"routerLink="/appointment">Appointment</a></li>
    <li><a class="active" routerLink="/doc">Patient Document</a></li>
    </ul>
    </li>
    
   </ul>
   
    </nav>