<h1 mat-dialog-title>Add Doctor</h1>

<form class="example-form"[formGroup]="Reactiveform" (ngSubmit)=" getReservFormData()" >
  <mat-form-field class="example-full-width">
    <mat-label>Pharmacist Id </mat-label>
    <input matInput  placeholder="" value=""  formControlName="id" >
    
  </mat-form-field> 
  <mat-form-field class="example-full-width">
    <mat-label>Pharmacist Name </mat-label>
    <input matInput  placeholder=""   formControlName="nomPh" >
    
  </mat-form-field> 
  <mat-form-field class="example-full-width">
    <mat-label>Age </mat-label>
    <input matInput  placeholder=""   formControlName="age" >
  </mat-form-field> 
  <mat-form-field class="example-full-width">
    <mat-label>Mobile Phone </mat-label>
    <input matInput  placeholder=""   formControlName="telephone" >
  </mat-form-field> 
   
  
  <mat-form-field appearance="fill">
        <mat-label>Hire date</mat-label>
        <input matInput [matDatepicker]="picker"  formControlName="dateRecrutement" >
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
   
    
      <mat-form-field class="example-full-width">
        <mat-label>Salary</mat-label>
        <input matInput  placeholder="" value=""  formControlName="salaire" >
      </mat-form-field> 
      <mat-form-field class="example-full-width">
        <mat-label>University Name</mat-label>
        <input matInput  placeholder="" value=""  formControlName="nomUniversite" >
      </mat-form-field> 
      <div mat-dialog-actions>
        <button mat-raised-button color="warn" mat-dialog-close>Fermer</button>
        <button  type="submit" mat-raised-button color="primary" cdkFocusInitial  *ngIf="editmode==true">Modifier</button>
      <button  type="submit" mat-raised-button color="primary" cdkFocusInitial *ngIf="editmode==false">Enregistrer</button>
        
      </div>
      
     
      

  
  
    
  </form>

